/* Generales */

body {
  background: #DCE35B;
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* jumbotron */

.jumbotron i {
  font-size: 100px;
  color: darkolivegreen;
}

/* Group Cards */

.boton-detalles {
  padding: 7px;
  margin: 8px;
  color: white;
  background-color: black;
  border-color: gray;
  display: flow-root;
}

.boton-detalles:hover {
  color: black;
  background-color: greenyellow;
  border-color: black;
}