/* Barra de Navegacion */

.navbar {
  padding: 1rem;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.nav-link {
  color: antiquewhite;
}

.nav-link:hover {
  color: #24f137;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Generales */

body, .navbar{
  background: #DCE35B;
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #DCE35B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.seccion-clara {
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(224, 248, 9);
  color: black;
  padding: 40px 40px 20px 40px;
  margin: auto;
}

/* jumbotron */

/* .jumbotron {
  font-size: 100px;
  color: rgb(0, 0, 0);
} */

/* Group Cards */

.boton-detalles {
  padding: 7px;
  margin: 8px;
  color: white;
  background-color: black;
  border-color: gray;
  display: flex;
  justify-items: center;
  max-width: 300px;
}

.boton-detalles:hover {
  color: black;
  background-color: greenyellow;
  border-color: black;
}