body {
    background: #DCE35B;
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.col-lg-6 {
    background-color: darkslategray;
}

.row,
.container-fluid2,
.container-lg,
.col-md-8 {
    height: 250px;
    background-color: grey;
    color: antiquewhite;
    font-size: 50px;
    margin: 20px;
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 10px;
}

.col {
    background: #093028;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #237A57, #093028);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #237A57, #093028);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: antiquewhite;
    font-size: 50px;
    padding: 5px;
    border: 2px solid #000000;
}
.bg-gradient{
    background-image: var(--bs-gradient);
}