{% extends "layout.html" %}

{% block content %}
<h1>About</h1>
<p>Somos una agencia de viajes cubana, nuestros conductores cuentan con mas de 15 años de experiencia,  
    tenemos como objetivo brindarles una inolvidable visita a Cuba
    , con una gran infinidad de destinos turisticos;
    nos destaca la puntualidad, comodidad , seguridad y buena musica (a mal tiempo buena música). 
                                                                            
                                                                    <blockquote>Tawa.Taxi - de Pinar a Maisí</blockquote>
</p>
{% endblock %}